Pillow==9.0.1
numpy==1.22.2
loglevel==0.1.2
tqdm==4.63.0
prompt-toolkit==3.0.28
flake8~=4.0.1
black~=22.1.0
torch==1.10.2
timm==0.5.4
torchvision==0.11.3
isort==5.10.1
torchsummary~=1.5.1
pytorch_msssim